
@model Kisiler
@{
    ViewBag.Title = "Kişi Sil";
}

<h2>Kişi Sil</h2>
<hr />

<p> Aşağıdaki kişi silinecektir ! </p>

@using (Html.BeginForm())
{
<table>
    <tr>
        <td><b>Kişi:</b></td>
        <td>@Model.Ad</td>
    </tr>
    <tr>
        <td><b>Soyad:</b></td>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <td><b>Yaş:</b></td>
        <td>@Model.Yas</td>
    </tr>
</table>

    <div class="input-group">
        <input type="submit" value="Sil" class="btn btn-success" />
    </div>
}



