
@model Kisiler
@{
    ViewBag.Title = "Yeni Kişi";
}

<h2>Yeni Kişi</h2>
<hr />

@using (Html.BeginForm())
{
<div class="input-group">
    <span class="input-group-addon">Ad </span>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", placeholder = "Adı Giriniz", @required = "required" })
    @*<input type="text" class="form-control" placeholder="Yeni Kişi" />*@
</div>
<br />
<div class="input-group">
    <span class="input-group-addon">Soyad </span>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", placeholder = "Soyadı Giriniz", @required = "required" })
    @*<input type="text" class="form-control" placeholder="Yeni Kişi" />*@
</div>
<br />
<div class="input-group">
    <span class="input-group-addon">Yaş </span>
    @Html.TextBoxFor(x => x.Yas, new { @class = "form-control", placeholder = "Yaşı Giriniz", @type = "number", min = 18 })
    @*<input type="text" class="form-control" placeholder="Yeni Kişi" />*@
</div>
<br />

<div class="input-group">
    <input type="submit" value="Kaydet" class="btn btn-success"  />
</div>
}

<br />
<div class="input-group">
    @if (ViewBag.mesaj != null)
    {
        <div class="alert alert-@ViewBag.renk" role="alert">
            @ViewBag.mesaj
        </div>
    }
</div>

